<table>
  <tr>
    <td><%=link_to 'About', root_path %></td>
    <td><%=link_to 'Locations', controller: 'locations' %></td>
    <td><%=link_to 'Monsters', controller: 'monsters' %></td>
    <td><%=link_to 'Schools', controller: 'schools' %></td>
    <td><%=link_to 'Witchers', controller: 'witchers' %></td>
  </tr>
</table>

<h1>Monsters</h1>

<table>
  <thead>
    <tr>
      <th>Name:</th>
      <th>Population:</th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= monster.population %></td>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_monster_path %>
