<table>
  <tr>
    <td><%=link_to 'About', root_path %></td>
    <td><%=link_to 'Locations', controller: 'locations' %></td>
    <td><%=link_to 'Monsters', controller: 'monsters' %></td>
    <td><%=link_to 'Schools', controller: 'schools' %></td>
    <td><%=link_to 'Witchers', controller: 'witchers' %></td>
  </tr>
</table>

<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>Population:</strong>
  <%= @monster.population %>
</p>

<p>
  <strong>Location:</strong>
  <table>
    <tbody>
      <% @monster.locations.each do |habitat| %>
        <tr>
          <td><%= habitat.name %></td>
          <td><%= link_to 'Show', habitat %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Back', monsters_path %>
