<table>
  <tr>
    <td><%=link_to 'About', root_path %></td>
    <td><%=link_to 'Locations', controller: 'locations' %></td>
    <td><%=link_to 'Monsters', controller: 'monsters' %></td>
    <td><%=link_to 'Schools', controller: 'schools' %></td>
    <td><%=link_to 'Witchers', controller: 'witchers' %></td>
  </tr>
</table>
<h1>About</h1>
<p>Utilizing data from Faker::Witcher and Faker::Number, the following tables with be populated with data to represent<br>
  different locations and the population with in them. The data will showcase the population of Monsters in a given<br>
  area as well as the Witcher and School they belong to, which is currently in the Location. A Location can have many<br>
  Monsters and a Monster can have many Locations. A Location can have many schools and a School can have many<br>
  Witchers. A Witcher must have a School and a School must have a Location.</p><br>

<%= image_tag "Rails_Intro_ERD.png" %>
