<%= form_with(model: witcher, local: true) do |form| %>
  <% if witcher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(witcher.errors.count, "error") %> prohibited this witcher from being saved:</h2>

      <ul>
      <% witcher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :age %><br>
    <%= form.number_field :age %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
