<tr>
  <td><%=link_to 'About', root_path %></td>
  <td><%=link_to 'Locations', controller: 'locations' %></td>
  <td><%=link_to 'Monsters', controller: 'monsters' %></td>
  <td><%=link_to 'Schools', controller: 'schools' %></td>
  <td><%=link_to 'Witchers', controller: 'witchers' %></td>
</tr>

<h1>Witchers</h1>

<table>
  <thead>
    <tr>
      <th>Name:</th>
      <th>Age:</th>
    </tr>
  </thead>

  <tbody>
    <% @witchers.each do |witcher| %>
      <tr>
        <td><%= witcher.name %></td>
        <td><%= witcher.age %></td>
        <td><%= link_to 'Show', witcher %></td>
        <td><%= link_to 'Edit', edit_witcher_path(witcher) %></td>
        <td><%= link_to 'Destroy', witcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Witcher', new_witcher_path %>
