<tr>
  <td><%=link_to 'About', root_path %></td>
  <td><%=link_to 'Locations', controller: 'locations' %></td>
  <td><%=link_to 'Monsters', controller: 'monsters' %></td>
  <td><%=link_to 'Schools', controller: 'schools' %></td>
  <td><%=link_to 'Witchers', controller: 'witchers' %></td>
</tr>

<p>
  <strong>Name:</strong><br>
  <%= @school.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= link_to @school.location.name, location_path(@school.location_id) %>
</p>

<p>
  <strong>Witcher:</strong>
  <table>
    <tbody>
    <% @school.witchers.each do |witcher| %>
      <tr>
        <td><%= link_to witcher.name, witcher %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
