<table>
  <tr>
    <td><%=link_to 'About', root_path %></td>
    <td><%=link_to 'Locations', controller: 'locations' %></td>
    <td><%=link_to 'Monsters', controller: 'monsters' %></td>
    <td><%=link_to 'Schools', controller: 'schools' %></td>
    <td><%=link_to 'Witchers', controller: 'witchers' %></td>
  </tr>
</table>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name:</th>
      <th>Population:</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.population %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
