<table>
  <tr>
    <td><%=link_to 'About', root_path %></td>
    <td><%=link_to 'Locations', controller: 'locations' %></td>
    <td><%=link_to 'Monsters', controller: 'monsters' %></td>
    <td><%=link_to 'Schools', controller: 'schools' %></td>
    <td><%=link_to 'Witchers', controller: 'witchers' %></td>
  </tr>
</table>

<h1>New Location</h1>

<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
