<table>
  <tr>
    <td><%=link_to 'About', root_path %></td>
    <td><%=link_to 'Locations', controller: 'locations' %></td>
    <td><%=link_to 'Monsters', controller: 'monsters' %></td>
    <td><%=link_to 'Schools', controller: 'schools' %></td>
    <td><%=link_to 'Witchers', controller: 'witchers' %></td>
  </tr>
</table>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Population:</strong>
  <%= @location.population %>
</p>

<p>
  <strong>Monster:</strong>
<table>
  <tbody>
  <% @location.monsters.each do |habitat| %>
    <tr>
      <td><%= habitat.name %></td>
      <td><%= link_to 'Show', habitat %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</p>

<p>
  <strong>School:</strong>
  <table>
    <tbody>
    <% @location.schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= link_to 'Show', school %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
